* {
    margin: 0;
    padding: 0;
}
.body {
    display: flex;
    justify-content: center;   
    border: 1px solid black;
    text-align: center;
    width: auto;
    height: 700px;    
}
.annex {    
    display: flex;
    justify-content: center;    
    margin: 10px;
    padding: 5px;   
}
.annex:hover {
    border: 50px;
    text-align: center;   
    background-color: rgb(185, 241, 241);
}
.annex-google {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
}
a {
    text-decoration: none;
    color: black; 
}


